body {
    background-color: #2e4052;
    text-align: center;
    color: #ffc857;
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}

input {
    text-align: center;
    font-size: 10vh;
    width: 80vw;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 200, 87);
    color: rgb(46, 64, 82);
}

#question {
    font-size: 10vh;
}

#main {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.options {
    font-size: 5vh;
    width: 10vh;
}

#options {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;

}

#history, #words {
    font-size: 2vh;
    color: rgba(255, 200, 87, 0.5);
    z-index: -1;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: justify;
    text-align-last: center;
}

#words {
    margin-top: 0;
}